absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.11.3
annotated-types==0.5.0
anyio==3.7.1
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
black==23.7.0
bleach==6.1.0
blessed==1.20.0
bokeh==3.3.2
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
cachetools==5.3.1
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==2.1.1
click==8.1.7
cloudpickle==3.0.0
cmaes==0.10.0
cmake==3.25.0
colorcet==3.0.1
colorlog==6.7.0
comm==0.1.4
contourpy==1.1.0
croniter==1.4.1
cycler==0.11.0
dask==2023.12.1
datashader==0.16.0
dateutils==0.6.12
debugpy==1.6.7.post1
decorator==5.1.1
deepdiff==6.3.1
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.101.1
filelock==3.9.0
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.57.0
h11==0.14.0
holoviews==1.18.1
idna==3.4
importlib-metadata==7.0.1
inquirer==3.1.3
ipykernel==6.25.1
ipython==8.14.0
ipywidgets==8.1.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
joblib @ file:///croot/joblib_1685113087166/work
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
lightning==2.0.7
lightning-cloud==0.5.37
lightning-utilities==0.9.0
linkify-it-py==2.0.2
lit==15.0.7
llvmlite==0.41.1
locket==1.0.0
Mako==1.2.4
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.4
multipledispatch==1.0.0
mypy==1.5.1
mypy-extensions==1.0.0
nest-asyncio==1.5.7
networkx @ file:///opt/conda/conda-bld/networkx_1657784097507/work
numba==0.58.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
oauthlib==3.2.2
optuna==3.3.0
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==23.1
pandas==1.5.2
panel==1.3.6
param==2.0.1
parso==0.8.3
partd==1.4.1
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
protobuf==4.24.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyct==0.5.0
pydantic==2.1.1
pydantic_core==2.4.0
Pygments==2.16.1
PyJWT==2.8.0
pynndescent==0.5.11
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.7
pytz @ file:///croot/pytz_1671697431263/work
pyviz_comms==3.0.0
PyYAML==6.0.1
pyzmq==25.1.1
rdkit==2023.3.3
readchar==4.0.5
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.5.2
rsa==4.9
scikit-learn @ file:///croot/scikit-learn_1675444908879/work
scipy==1.9.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.20
stack-data==0.6.2
starlette==0.27.0
starsessions==1.3.0
sympy==1.11.1
tensorboard==2.14.0
tensorboard-data-server==0.7.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tomli==2.0.1
toolz==0.12.0
torch==2.0.1+cu118
torch-geometric==2.3.1
torchaudio==2.0.2+cu118
torchmetrics==1.0.3
torchvision==0.15.2+cu118
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
trio==0.23.2
trio-websocket==0.11.1
triton==2.0.0
typing_extensions==4.7.1
uc-micro-py==1.0.2
umap-learn==0.5.5
urllib3==1.26.13
uvicorn==0.23.2
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.3.7
widgetsnbextension==4.0.8
wsproto==1.2.0
xarray==2023.12.0
xyzservices==2023.10.1
yarl==1.9.2
zipp==3.17.0
